/.bash_history
/.bashrc
/.cache
/.cshrc
/.gnupg
/.login
/.profile
/.viminfo
/.vscode-server
/.wget-hsts
/310a1
/FinalProj.tar
/GenerateData.sh
/attendance.csv
/attendance.html
/comp310
/courses
/csv2html.sh
/fixformat.sh
/gdb.txt
/git.txt
/labapp
/labapp.c
/labdata
/labdata.csv
/makefile
/project
/temp310
/zoomrecs.c
/zoomrecs.h